<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Shopping Checklist</title>
    <script type="text/javascript" src = 'angular.min.js'></script>
    <script type="text/javascript" src = 'app.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app = 'app' ng-controller = 'ToBuyController as showItems'>
    <h1>Shopping Checklist</h1>
    <section class = 'itemsToAdd' well>
      <input type="text" ng-model='newItemName' value="" ng-submit = 'showItems.addItem(newItemName)'>
      <button type="button" name="button" ng-click = 'showItems.addItem(newItemName)'>Add to Shopping List</button>
    </section>

    <div class = 'lists'>

        <section class = 'itemsToBuy list well'>
          <h2>Items to Buy</h2>
          <div ng-repeat = 'item in showItems.itemsToBuy'>
            <li>{{item.name}}</li>
            <input type="checkbox" ng-model="item.bought" value ='false' ng-click = 'showItems.adjustLists(item)'>
          </div>
        </section>

        <section class="itemsBought list well" ng-controller = 'AlreadyBoughtController as showBought'>
          <h2>Already Bought</h2>
          <div  ng-repeat = 'item in showBought.itemsBought'>
            <li>{{item.name}}</li>
          </div>
        </section>
  </div>
  </body>
</html>
